@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    font-size: 125%;
}

body {
    font-family: Helvetica, sans-serif;
}

h1,
h4 {
    font-family: "Gruppo", sans-serif;
    font-size: 4rem;
    margin: 40px 0;
    font-weight: normal;
}

h4 {
    margin-right: 75px;
    text-align: right;
}

h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 50px 0px 0px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.outerWrapper {
    /* max-width: 1850px; */
    margin: 0 auto;
}

.wrapper {
    max-width: 1450px;
    width: 90%;
    margin: 0 auto;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingBagIcon {
    position: relative;
}

.shopping {
    width: 45px;
    height: 45px;
    margin-top: 10px;
}

.bagQty {
    position: absolute;
    bottom: 0;
    right: -10px;
    background-color: #333;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
}

.categoryNav {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
}

.categoryNav .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 20px 0;
}

.categoryNav ul li {
    cursor: pointer;
}

.hamburger {
    display: initial;
    margin: 15px 0 15px 0;
    width: 35px;
    height: 24px;
    border-top: 4px solid #1f2022;
    border-bottom: 4px solid #1f2022;
    position: relative;
}

.hamburger::before {
    content: "";
    width: 35px;
    height: 4px;
    background-color: #1f2022;
    position: absolute;
    top: 6px;
}

.menu,
.shoppingBag {
    transform: translateY(-500vh);
    transition: transform 0.5s;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
    position: absolute;
    right: 0;
}

.menu {
    top: 94px;
    width: 40%;
}

.shoppingBag {
    top: 172px;
    padding: 20px;
    width: 50%;
}

.shoppingBag h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
    text-align: center;
}

.shoppingBag h5,
.shoppingContent,
.shoppingBtns button {
    text-transform: uppercase;
}

.shoppingContent h5 {
    text-align: center;
}

.shoppingContent .total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.shoppingContentItem {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.shoppingContentItem div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.shoppingContentItem p {
    margin-top: 0;
}

.shoppingContentItem img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-bottom: 20px;
}

.qtyNum {
    text-align: right;
}

.shoppingBtns {
    display: flex;
    flex-direction: column;
}

.shoppingBtns :first-child {
    margin-bottom: 15px;
}

.shoppingBtns button,
.checkoutBtn,
.reviewSubmit {
    font-family: Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 15px 0 15px;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
}

.menuLi {
    list-style-type: none;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: right;
    margin-right: 75px;
}

.landingBanner1 {
    background-image: url(.././assets/banners/newArrivals.jpg);
}

.landingBanner2 {
    background-image: url(.././assets/banners/sneakers.jpg);
}

.landingBanner3 {
    background-image: url(.././assets/banners/dressShoes.jpg);
}
.landingBanner4 {
    background-image: url(.././assets/banners/boots.jpg);
    margin-bottom: 50px;
}

.aboutBanner {
    background-image: url(.././assets/banners/aboutUsBanner.jpg);
}

.checkoutBanner {
    background-image: url(.././assets/banners/checkoutBanner.jpg);
}

.banner {
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    height: 350px;
}

.mission,
.checkout {
    margin: 0 auto;
    padding: 30px 30px 0px;
    width: 90%;
    max-width: 1000px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.aboutImgAndQuote {
    width: 100%;
    max-width: 800px;
    display: grid;
    justify-content: center;
    padding: 50px;
    margin: 0 auto;
}

.aboutImg {
    border: 1px solid #000;
    width: 100%;
    max-width: 650px;
    padding: 20px;
}

.aboutImg img {
    object-fit: cover;
}

.quote {
    margin: 30px auto;
    padding: 40px 0 0;
    width: 100%;
    max-width: 450px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
}

.quoteText {
    margin: 0;
    padding: 10px 0;
}
.quoteMark {
    font-size: 80px;
    line-height: 0;
    display: block;
    margin: 0;
    padding: 30px 10px;
}

.rightQuote {
    align-self: end;
    padding-left: 0;
    padding-bottom: 0;
}

.galleryBanner {
    height: 400px;
}

.banner a h2 {
    font-weight: normal;
    margin: 0;
}

.category,
.banner a {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 40px;
    width: 35%;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 50px auto;
}

.galleryItem {
    width: (100% / 3 - 40px);
    border: 2px solid black;
    padding: 20px;
}

.shoeImg {
    cursor: pointer;
    max-height: 400px;
}

.galleryItem p {
    text-transform: uppercase;
    margin: 10px 0;
}

.brand,
.price,
.qty,
.sizeForm {
    font-weight: bold;
    font-size: 1rem;
}

.style {
    font-weight: lighter;
    font-size: 0.7rem;
    height: 25px;
}

.galleryItem .price {
    text-align: right;
    margin: 20px 0;
}

.rating {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    margin: 0;
}

.rating button {
    background: none;
    border: none;
    padding: 0;
}
.star {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

.galleryItemInputs {
    margin: 10px 0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.setQuantity {
    padding: 10px 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.setQuantity label,
.sizeForm label {
    padding-right: 10px;
}

.setQuantity button {
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    line-height: 0;
    outline: none;
    border: none;
    width: 25px;
    height: 30px;
    font-family: Helvetice, sans-serif;
}

.qtyValue {
    width: 40px;
    height: 30px;
    text-align: center;
    padding: 0 5px;
    margin: 0 5px;
}

.sizeForm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}

.selects {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px 5px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
}

.selects select {
    border: none;
    appearance: none;
    width: 60px;
    background-image: url(.././assets/chevron.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 100% 40%;
}

.addToBag {
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: lighter;
    cursor: pointer;
}

.galleryAdd {
    width: 100%;
    margin-top: 5px;
}

.shoeModal {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    pointer-events: none;
}

.shoeModal.open {
    opacity: 1;
    pointer-events: all;
    max-width: 100vw;
}

.modalContent {
    background-color: #fff;
    transform: translateY(-200vh);
    transition: all 0.5s;
    border: 1px solid black;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: calc(100vh - 40px);
    overflow-y: scroll;
}

.shoeModal.open .modalContent {
    transform: translateY(0);
}

.modalImg {
    overflow-y: scroll;
    padding-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.modalTopText,
.modalBottomText {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;
}

.modalTopText p,
.modalBottomText p {
    margin: 10px 0 5px;
    text-transform: uppercase;
}

.modalRating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modalRating p {
    font-size: 0.7rem;
    font-weight: lighter;
    height: 25px;
}

.modalDropdowns {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.close {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

textarea {
    resize: none;
}

.reviewForm {
    width: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

.reviewForm form {
    display: flex;
    flex-direction: column;
}

.userInfo {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 20px 0;
}

.userInfo input {
    width: 50%;
    padding-right: 10px;
}

.userInfo input,
.reviewInput {
    border: 1px solid #000;
    outline: none;
    padding: 10px 10px;
}

.reviewInput {
    width: 100%;
    height: 250px;
}

.reviewSubmit {
    margin-top: 20px;
    width: 200px;
    align-self: flex-end;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    margin: 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

.footerLogo a {
    text-decoration: none;
}

.footerLogo h3 {
    font-family: "Gruppo", sans-serif;
    font-size: 4rem;
    margin: 0 0 20px 0;
    font-weight: normal;
}

footer p {
    margin: 0;
    padding: 10px;
    font-weight: lighter;
}

.contactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.details,
.hours {
    padding: 0 20px;
    text-align: left;
    font-size: 1rem;
}

.siteInfo a:hover,
.siteInfo a:focus {
    text-decoration: underline;
}

.footerContact {
    padding: 40px;
}

.siteInfo {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.siteInfo p {
    font-size: 0.7rem;
}

@media (max-width: 1040px) {
    .dropdowns {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media (max-width: 900px) {
    .menu {
        width: 50%;
    }

    .categoryLi {
        font-size: 0.8rem;
    }

    .category {
        width: 45%;
    }

    .banner a {
        width: 60%;
    }

    .galleryItem .brand,
    .galleryItem .price {
        font-size: 0.7rem;
    }
    .galleryItem .style {
        font-size: 0.6rem;
        margin-bottom: 5px;
    }
    .selects {
        font-size: 0.7rem;
    }
    .addToBag {
        font-size: 0.8rem;
    }

    .details,
    .hours {
        text-align: center;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .category {
        width: 50%;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .galleryItem {
        width: (100% / 2 - 20px);
    }

    .menu {
        width: 80%;
    }

    .menuLi,
    h4 {
        margin-right: 10%;
    }
}

@media (max-width: 610px) {
    .categoryLi {
        display: none;
    }

    .category {
        width: 65%;
    }
}

@media (max-width: 510px) {
    .banner a {
        width: 80%;
    }

    .quoteText {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    .shopping {
        width: 35px;
        height: 35px;
    }

    .bagQty {
        height: 20px;
        width: 20px;
        font-size: 0.8rem;
    }

    .categoryNav ul {
        width: 80%;
    }

    .menu {
        width: 100%;
    }

    .category {
        font-size: 1rem;
        width: 80%;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .addToBag {
        font-size: 0.6rem;
    }

    .modalContent .style,
    .modalRating p {
        font-size: 0.7rem;
    }

    .modalDropdowns {
        flex-direction: column;
    }

    .selects {
        margin-bottom: 10px;
    }

    footer h3 {
        font-size: 3rem;
    }

    footer p {
        font-size: 0.8rem;
        line-height: 1.5;
    }

    .siteInfo p {
        font-size: 0.6rem;
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 2.5rem;
    }

    .modalBottomText {
        flex-direction: column;
        align-items: start;
    }
}
