.landingBanner1 {
    background-image: url(../assets/banners/newArrivals.jpg);
}

.landingBanner2 {
    background-image: url(../assets/banners/sneakers.jpg);
}

.landingBanner3 {
    background-image: url(../assets/banners/dressShoes.jpg);
}
.landingBanner4 {
    background-image: url(../assets/banners/boots.jpg);
    margin-bottom: 50px;
}
